<div class="flex flex-col h-full min-h-[370px] max-h-[420px] bg-white rounded-xl shadow-sm p-3 justify-between">
    <a href="{{ product.get_absolute_url }}" class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl overflow-hidden" style="background-image: url('{{ product.image.url }}')"></a>
    <div class="flex flex-col flex-1 gap-1 mt-2">
        <p class="text-[#101518] text-base font-medium leading-normal">{{ product.name }}</p>
        <p class="text-[#5c748a] text-sm font-normal leading-normal">{{ product.description|truncatechars:60 }}</p>
        <p class="text-[#101518] text-lg font-bold leading-normal mt-1">R$ {{ product.price }}</p>
    </div>
    {% if product.external_url %}
    <a href="{{ product.external_url }}" target="_blank" rel="noopener noreferrer" class="flex h-10 items-center justify-center rounded-xl bg-[#101518] text-white text-sm font-bold leading-normal mt-2 w-full">
        Comprar Agora
    </a>
    {% endif %}
</div> 

